{% if fields %}
    <div class="type-field-wrapper">
        <h2>Fields:</h2>

        <fieldset class="module aligned">
            {% for field in fields %}
                {% if field.type == FieldType.TEXT %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <div>
                            <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                            <input type="text" name="field_{{ field.id }}_{{ field.type }}" class="vTextField" maxlength="255" id="id_{{ field.title|slugify }}">
                        </div>
                    </div>
                {% elif field.type == FieldType.LONG_TEXT %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <div>
                            <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                            <textarea name="field_{{ field.id }}_{{ field.type }}" cols="40" rows="10" class="vLargeTextField" id="id_{{ field.title|slugify }}"></textarea>
                        </div>
                    </div>
                {% elif field.type == FieldType.MULTI_VALUE %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                        <div class="related-widget-wrapper">
                            <select name="field_{{ field.id }}_{{ field.type }}" id="id_{{ field.title|slugify }}" multiple="">
                                {% for choice in field.choices.all %}
                                    <option value="{{ choice.id }}">{{ choice.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="help">Hold down "Control", or "Command" on a Mac, to select more than one.</div>
                    </div>
                {% elif field.type == FieldType.NUMBER %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <div>
                            <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                            <input type="number" name="field_{{ field.id }}_{{ field.type }}" class="vIntegerField" id="id_{{ field.title|slugify }}">
                        </div>
                    </div>
                {% elif field.type == FieldType.FILE %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <div>
                            <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                            <input type="file" name="field_{{ field.id }}_{{ field.type }}" id="id_{{ field.title|slugify }}">
                        </div>
                    </div>
                {% elif field.type == FieldType.IMAGE %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <div>
                            <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                            <input type="file" name="field_{{ field.id }}_{{ field.type }}" accept="image/*" id="id_{{ field.title|slugify }}">
                        </div>
                    </div>
                {% elif field.type == FieldType.MULTI_IMAGE %}
                    <div class="form-row field-{{ field.title|slugify }}">
                        <div>
                            <label for="id_{{ field.title|slugify }}">{{ field.title }}:</label>
                            <input type="file" name="field_{{ field.id }}_{{ field.type }}" accept="image/*" multiple id="id_{{ field.title|slugify }}">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
    </div>
{% endif %}
